html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#base {
    width: 100%;
    height: 100%;
    position: relative;
}

#left {
    width: 200px;
    height: 100%;
    background-color: rgb(255, 2, 255);
}

#right {
    /* width: 100%; */
    height: 100%;
    background-color: rgb(2, 255, 255);
}

/* first float layout model method */

#left {
    float: left;
}

 #right {
    margin-left: 200px;
}

/* second float layout model method */

/* #left {
    float: left;
}

#right {
    overflow: hidden;
} */

/* position layout model method */

/* #left {
   position: absolute;
   left: 0;
   top: 0;
}

#right {
    padding-left: 200px;
    box-sizing: border-box;
} */

/* table layout model method */

/* #base {
    display: table;
}

#left {
    display: table-cell;
}

#right {
    display: table-cell;
} */

/* flex layout model method */

/* #base {
    display: flex;
}

#right {
    flex: 1;   
} */

/* grid layout model method */

/* #base {
    display: grid;
    grid-template-columns: 200px 1fr;
} */